/* 가장 기본 틀 */
.wrapper {
  margin: 6.5rem auto 15rem auto;
}

/* 메인 타이틀 배치 */
.title-box {
  position: relative;
  width: 25.6rem;
  height: 12.5rem;
}
.title-img {
  width: min(25.6rem, 100%);
  height: 5.3rem;
  z-index: 2;
}

.clock-img {
  width: 12.5rem;
  height: auto;
  z-index: 1;
}

.title-box > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Quote (인용구) */
.quote-text {
  font-family: var(--font-quote);
  color: var(--text-quote);
  font-size: 2.2rem;
  margin: 3.1rem 0 0 0;
}

/* Definition Box (정의 박스) */
.definition-box {
  position: relative;
  line-height: 1.3rem;
  margin: 6.2rem 0 6.6rem 0;
}

.definition-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30.2rem;
}

.definition-box > p {
  position: relative;
  z-index: 1;
}

/* Input Section (입력 섹션) */
.input-box {
  margin-bottom: 4.9rem;
}

.input-box input {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.4rem;
  text-align: center;
  width: 12rem;
  color: var(--text-secondary);
  line-height: 1.6rem;
  margin: 0 0.5rem;
}
.input-box .line-height {
  line-height: 5rem;
}

/* 계산 영역 */
.calc-box {
  position: relative;
  margin-bottom: 6.4rem;
}

.calc-btn {
  border-radius: 13px;
}

.click-img {
  width: 4.3rem;
  position: absolute;
  top: 77%;
  left: 99%;
  transform: translate(-50%, -50%);
}

.calc-strong {
  font-size: 2.4rem;
  font-weight: bold;
  vertical-align: middle;
}

/* footer */
.flex-row {
  margin-top: 4.1rem;
  gap: 1.5rem;
}

.go-btn {
  padding: 0.75rem 1.95rem;
  border-radius: 5.6rem;
}

.share-btn {
  padding: 1.1rem 2.05rem;
  border-radius: 5.6rem;
  background-color: var(--text-primary);
}

/* 데스크탑 반응형 */
@media (min-width: 768px) {
  body {
    font-size: 2.4rem;
  }

  .input-box input,
  .calc-btn,
  .go-btn,
  .share-btn {
    font-size: 2.4rem;
  }

  .title-box {
    width: 56.2rem;
    height: 26.5rem;
  }

  .title-img {
    width: min(56.2rem, 100%);
    height: 11.2rem;
  }

  .clock-img {
    width: 26.5rem;
  }

  .quote-text {
    font-size: 3.6rem;
    margin: 15rem 0 0 0;
  }

  .definition-box {
    margin-bottom: 9.1rem 0 7.8rem 0;
  }

  .definition-icon {
    width: 70.3rem;
  }

  .input-box {
    margin-bottom: 11.5rem;
  }

  .input-box input {
    width: 22.8rem;
    padding: 1.5rem;
  }

  .calc-box {
    margin-bottom: 14.7rem;
  }

  .calc-btn {
    border-radius: 5.6rem;
  }

  .click-img {
    width: 6.4rem;
    left: 92%;
  }

  .calc-strong {
    font-size: 7.2rem;
  }

  .flex-row {
    margin-top: 14.7rem;
    gap: 1.8rem;
  }

  .row-line {
    display: none;
  }
}
