body {
  margin: 0;
  padding: 0;
  background-color: #044a0c;
  color: white;
}

.page {
  max-width: 480px;
  margin: 0 auto;
  padding: 24px 16px 40px;
}

/* 시계+타이틀 */
.container {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-center {
  position: relative;
  width: 267px;
  height: 126px;
}

/* 시계 */
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  height: 126px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* 타이틀 */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 267px;
  height: 53px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* 문구1 */

.quote-text {
  font-family: "tvN Enjoystories", "tvn 즐거운이야기", cursive;
  font-size: 22px;
  font-weight: 700;
  color: #f5df4d;
  text-align: center;
  line-height: 110%;
}

@media (min-width: 1024px) {
  .container {
    height: 350px;
  }

  .clock {
    width: 261px;
    height: 205px;
  }

  .title {
    width: 564px;
    height: 112px;
  }
}
