* {
  transition: all 0.3s ease;
}
body {
  margin: 0;
}
p {
  margin: 0.375rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
button {
  border: none;
  cursor: pointer;
}
input {
  border: none;
}
input:focus {
  outline: none;
}

:root {
  --main-color: #fcee21;
  --main-color2: #f5df4d;
  --btn-font-color: #5b2386;
}

@font-face {
  font-family: "tvN즐거운이야기";
  src: url("./fonts/tvN즐거운이야기Medium.ttf");
}
@font-face {
  font-family: "GmarketSans";
  src: url("./fonts/GmarketSansTTFMedium.ttf");
}

.whole-container {
  background-color: #044a0c;
}
.inner-continer {
  padding: 4.125rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.flex-col-v-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row-v-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  width: min(16.75rem, 100%);
  height: 7.875rem;
}
.title > img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.title-img {
  width: min(16.75rem, 100%);
  aspect-ratio: 5 / 1;
}
.clock-img {
  height: min(7.875rem, 100%);
  aspect-ratio: 1 / 1;
}

.yellow-paragraph {
  font-family: "tvN즐거운이야기";
  font-size: 1.375rem;
  color: var(--main-color2);
}
.white-paragraph {
  font-family: "GmarketSans";
  font-size: 0.875rem;
  color: white;
}
.paragraph {
  margin: 0.375rem 0;
}
.small-strong {
  font-weight: 900;
}
.big-strong {
  font-weight: 900;
  font-size: 1.5rem;
}
.quote-container {
  display: flex;
}
.quote {
  font-family: "GmarketSans";
  font-size: 3rem;
  color: var(--main-color);
  opacity: 0.3;
  margin-top: 2rem;
}
.left-quote {
  margin-right: -0.5rem;
}
.right-quote {
  margin-left: -0.5rem;
}

.text-input {
  width: 7.75rem;
  height: 2.25rem;
  border-radius: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.text-input:focus {
  box-shadow: 0 0 5px 5px skyblue;
}
.text-input::placeholder {
  font-family: "GmarketSans";
  font-weight: 400;
  font-size: 14px;
  color: #babcbe;
  text-align: center;
  vertical-align: middle;
}

.calc-container {
  display: flex;
}
.flex-row-v-end {
  display: flex;
  align-items: end;
}
.click-img {
  width: 2.625rem;
  height: 3rem;
}
.btn {
  font-family: "GmarketSans";
  font-size: 0.875rem;
  color: var(--btn-font-color);
  font-weight: 700;
}
.btn:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 2.5px black;
}
.btn:active {
  transform: translate(0, 0);
  box-shadow: none;
}
.calc-btn {
  width: 15rem;
  height: 4.25rem;
  padding: 1.25rem 2rem;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pill-btn {
  padding: 0.75rem 1.125rem;
  border-radius: 3.5rem;
}
.yellow-btn {
  background-color: var(--main-color);
}
.white-btn {
  background-color: white;
}

.bottom-btn-container {
  display: flex;
  gap: 1rem;
}

@media (min-width: 501px) {
  .title {
    width: min(35.25rem, 100%);
    height: 16.5rem;
  }
  .title-img {
    width: min(35.25rem, 100%);
  }
  .clock-img {
    height: min(16.5rem, 100%);
  }
  .quote {
    font-size: 6rem;
    margin-top: 4rem;
  }
  .inner-paragraph {
    flex-direction: row;
    gap: 0.125rem;
  }
  .calc-btn {
    width: auto;
    height: auto;
    padding: 0.75rem 1.125rem;
    border-radius: 3.5rem;
  }
  .click-img {
    margin-bottom: -1rem;
  }
  .big-strong {
    font-size: 3rem;
  }
  .line-breaker {
    display: none;
  }
}
