.body {
  color: #044a0c;
}
.header-title1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 9/16 * 100% = 56.25% */
  overflow: hidden;
}
.header-title1 {
  top: 20px;
  left: 20px;
  z-index: 2;
}
.header-title2 {
  top: 20px;
  left: 20px;
  z-index: 1;
}
.botton-one {
  width: 100%;
  padding: 15px 0;
  background-color: #8a2be2; /* 보라색 계열 */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}
@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
