body {
  background: #044a0c;
  margin: 50;
  padding: 0;
}
.header {
  width: 530px;
  height: 112px;
  color: white;
  display: grid;
  place-items: center;
  font-weight: bold;
  position: absolute;
}
.header .title {
  width: 530px;
  height: 112px;
  top: 20px;
  left: 20px;
}
.header .clock {
  width: 221px;
  height: 225px;
  top: 20px;
  left: 20px;
}

@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
