body {
  margin: 0;
  background: #044a0c;
  color: #fff;
  text-align: center;
  width: 1920px;
  height: 1963px;
  opacity: 1;
}

div {
  margin: 100px;
}

.id-1 {
  font-family: tvN Enjoystories;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #f5df4d;
}

.overlay-text {
  font-family: Gmarket Sans;
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

strong {
  font-family: Gmarket Sans;
  font-weight: 700;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.id-3 {
  font-family: Gmarket Sans;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.id-4 {
  font-family: Gmarket Sans;
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
p {
  font-family: Gmarket Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.go-btn {
  background: #fcee21;
  color: #5b2386;
  font-size: 24px;
  font-weight: bold;
  padding: 18px 50px;
  border-radius: 50px;
  margin: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
.small-btn {
  background: #ffffff;
  color: #5b2386;
  font-size: 24px;
  font-weight: bold;
  padding: 18px 50px;
  border-radius: 50px;
  margin: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

input {
  display: inline-block;
  background: white;
  border-radius: 7px;
  width: 228px;
  height: 57px;
  left: 870px;
  top: 899px;
  text-align: center;
  vertical-align: middle;
  color: #babcbe;
  font-size: 24px;
  font-weight: 400;
  font-family: Gmarket Sans;
  text-align: center;
  vertical-align: middle;
}
.i1 {
  position: absolute;
  width: 600px;
  height: auto;
  left: 660px;
  top: 50px;
}

.i2 {
  position: absolute;
  height: auto;
  left: 720px;
  top: 530px;
}

.i3 {
  position: absolute;
  height: auto;
  left: 1250px;
  top: 1000px;
}
