 body {
   background-color: #044a0c;
   font-size: 16px;
   color: white;
 }
@media (min-width: 320px) and (max-width: 374.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 32%;
    height: auto;
  }
}
@media (min-width: 375px) and (max-width: 424.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 35%;
    height: auto;
  }
}
@media (min-width: 425px) and (max-width: 767.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 35%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 30%;
    height: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .img-10000hour {
    width: 55%;
    height: auto;
  }
  .img-clock {
    width: 25%;
    height: auto;
  }
}
@media (min-width: 1440px) and (max-width: 1919.9px) {
  .img-10000hour {
    width: 40%;
    height: auto;
  }
  .img-clock {
    width: 20%;
    height: auto;
  }
}
@media (min-width: 1920px) and (max-width: 2559.9px) {
  .img-10000hour {
    width: 29%;
    height: auto;
  }
  .img-clock {
    width: 13.5%;
    height: auto;
  }
  .title-images {
    margin-top: 8vw;
    margin-bottom: 3vw;
  }
  .main-box {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .font-style-sub-title {
  font-size: 1.88vw;
  }
  .quotes {
    width: 70%;
  }
  .text-center {
    font-size: 1.25vw;
  }
  .calculate-btn {
  padding: 0.78125vw 2.552086vw;
  font-size: 1.25vw;
  margin: 0.3125vw 0.15625vw;
  border-radius: 56px;
  }
}
/* 반응형 설정 -끝- */

 /* 바탕 */
container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: auto;
} 
/* 바탕 -끝- */

/* 박스 */
.main-box { 
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.overview-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}
/* 박스 -끝- */

/*타이틀 이미지들 */
.title-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img-10000hour {
  position: absolute;
}
.img-clock {
  position: absolute;
}
/* 타이틀 이미지 -끝- */

/* 서브 이미지들 */
.qoutes {
  display: flex;
  position: absolute;
}
.hand-cursor {
  display: flex;
  position: absolute;
}

/* 폰트 */
.font-style {
  font-family: 'Gmarket Sans TTF';
  color: white;
}
.font-style-sub-title {
  font-family: 'tvN Enjoystories';
  font-weight: normal;
  color: #fcee21;
}
.text-center {
  font-family: 'Gmarket Sans TTF';
  margin-top: 0px;
  margin-bottom: 0px;
}
/* 폰트 -끝- */

/* 버튼 스타일 */
.calculate-btn {
  background-color: #fcee21;
  font-family: 'Gmarket Sans TTF';
  font-weight: 700;
  border: none;
  color: #5b2386;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.bold {
  font-weight: bold;
}