body {
  margin: 0;
}

p {
  margin: 0px;
}

.background_board {
  width: 100vw;
  height: 100%;
  background-color: #044a0c;
  display: flex;
  flex-direction: column;
}

.head_title {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
  position: relative;
  align-items: center;
}

.title_text {
  color: #f5df4d;
  font-family: "tvN Enjoystories";
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.main_first {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 31px;
}

.main_seconds {
  margin: 31px;
  align-items: center;
}

.main_third {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.main_last {
  margin: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin-bottom: 100px;
}

.image_title {
  position: absolute;
  width: 55%;
  height: 30%;
  margin-top: 70px;
  max-height: 112px;
}

.image_clock {
  width: 25%;
  height: 25%;
  margin-top: 65px;
}

.image_quotes {
  position: absolute;
  bottom: 43px;
  height: 19px;
}

.image_click {
  margin-top: 30px;
  margin-left: 8px;
  width: 43px;
  height: 48px;
}

.highlight {
  font-weight: 700;
}

.highlight_big {
  font-weight: 700;
  font-size: 24px;
  margin: 0 5px;
}

.main_text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "G마켓 산스 TTF";
  font-weight: 400;
  margin-bottom: 13px;
}

.box {
  display: inline-block;
  width: 156px;
  height: 37px;
  background-color: rgb(255, 255, 255);
  color: #babcbe;
  border-radius: 7px;
  align-content: center;
  margin: 0 5px;
}

.click_box {
  width: 30%;
  min-width: 241px;
  max-height: 68px;
  border-radius: 13px;
  font-weight: 700;
  font-size: 14px;
  font-family: "G마켓 산스 TTF";
  color: #5b2386;
  background-color: #fcee21;
  cursor: pointer;
  padding: 21px 49px;
  line-height: 16px;
  border: none;
}

.btn {
  height: 40px;
  border-radius: 56px;
  font-weight: 700;
  font-size: 14px;
  color: #5b2386;
  cursor: pointer;
  border: none;
}

.btn_yellow {
  width: 186px;
  background-color: #fcee21;
}

.btn_white {
  width: 92px;
  background-color: white;
}

@media (min-width: 1024px) {
  .title_text {
    font-size: 36px;
  }

  .main_text {
    font-size: 24px;
  }

  .main_text.small {
    font-size: 18px;
  }

  .highlight {
    font-size: 24px;
  }
  .image_quotes {
    height: 30%;
  }
  .box {
    font-size: 24px;
    width: 228px;
    height: 57px;
  }

  .click_box {
    font-size: 24px;
    max-width: 565px;
    border-radius: 56px;
    margin-top: 15px;
  }

  .image_click {
    width: 64px;
    height: 72px;
  }

  .image_title {
    max-width: 569px;
  }

  .image_clock {
    max-width: 261px;
  }
}
