body {
  background: #044a0c;
  margin: 50px;
  padding: 50px;
  width: 1920px;
  height: 1917px;
}
.main-title {
  display: grid;
  place-items: center;
  position: relative;
  height: 130px; /* 모바일 */
}

.main-title img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title img:first-child {
  /* clock.png - 뒤에 배치 */
  z-index: 1;
}

.main-title .title-icon {
  /* title.png - 앞에 배치 */
  z-index: 2;
}
.container-text {
  color: #f5df4d;
  font-family: "OTEnjoystoriesBA";
  font-style: italic;
  font-weight: bold;
}
.container .quotes {
  width: 486px;
  height: 40px;
  top: 510px;
  left: 717px;
}
.container .p {
  display: grid;
  place-items: center;
  font-weight: bold;
  text-align: center;
  width: 373px;
  height: 85px;
  top: 628px;
  left: 774px;
}

@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
