@font-face {
  font-family: 'font-quote';
  src: url('./TTF/font-quote.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.font-font-quote {
  font-family: 'font-quote', sans-serif;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('./fonts/GmarketSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.font-gmarket {
  font-family: 'Gmarket Sans', sans-serif;
}

