@font-face {
  font-family: "tvN Enjoystories";
  src: url("./font/TTF/tvN\ 즐거운이야기\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gmarket SansL";
  src: url("./font/GmarketSansTTF/GmarketSansTTFLight.ttf") format("truetype");
}
@font-face {
  font-family: "Gmarket SansM";
  src: url("./font/GmarketSansTTF/GmarketSansTTFMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Gmarket SansB";
  src: url("./font/GmarketSansTTF/GmarketSansTTFBold.ttf") format("truetype");
}

.container {
  background-color: #044a0c;
  width: 360px;
  height: 1081px;
}

.header {
  position: relative;
  display: inline-block;
  height: 200px;
}
.clock {
  position: absolute;
  z-index: 0;
  left: 118px;
  top: 65px;
}
.clock img {
  display: block;
  width: 125px;
  height: 126px;
}
.title {
  position: relative;
  z-index: 1;
  top: 100px;
  left: 47px;
}
.title img {
  display: block;
  height: 53px;
  width: 267px;
}

.subtitle {
  position: relative;
  top: 22px;
  text-align: center;
  letter-spacing: 0%;
  font-family: "tvN Enjoystories";
  font-weight: 400;
  font-size: 22px;
  color: #f5df4d;
}

.contain-text {
  position: relative;
  display: inline-block;
  width: 290px;
  height: 68px;
  top: 64px;
  left: 35px;
}
.text-1 {
  letter-spacing: 0%;
  text-align: center;
  font-family: "Gmarket SansB";
  font-weight: 700;
  font-size: 14px;
  color: white;
}
.text-2 {
  letter-spacing: 0%;
  text-align: center;
  font-family: "Gmarket SansL";
  font-weight: 400;
  font-size: 14px;
  color: white;
  line-height: 2;
  position: relative;
  z-index: 2;
}
.quotes {
  display: flex;
  position: absolute;
  z-index: 0;
  top: 44px;
  left: 0;
  pointer-events: none;
}
.quotes img {
  display: block;
  width: 302px;
}

.text-3 {
  font-family: "Gmarket SansM";
  position: relative;
  width: 311px;
  height: 37px;
  top: 110px;
  left: 25px;
  border-radius: 7px;
}
.box-text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0%;
  color: white;
}
.type-box {
  border: 1px solid #8b8a8a;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
  width: 130px;
  color: #babcbe;
}
.click-box {
  font-family: "Gmarket SansB";
  position: relative;
  top: 240px;
  left: 35px;
  border: 1px solid #8b8a8a;
  border-radius: 25px;
  padding: 20px;
  border-radius: 17px;
  text-align: center;
  width: 250px;
  background-color: #fcee21;
  color: #5b2386;
}

.text-4 {
  position: relative;
  text-align: center;
  line-height: 1.7;
  top: 280px;
  font-family: "Gmarket SansL";
  color: white;
  font-size: 14px;
}
.text-5 {
  font-family: "Gmarket SansB";
  font-size: 16px;
}
