 body {
   background-color: #044a0c;
 }
@media (min-width: 320px) and (max-width: 374.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 375px) and (max-width: 424.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 425px) and (max-width: 767.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1439.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 1440px) and (max-width: 1919.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 1920px) and (max-width: 2559.9px) {
  .img-10000hour {
    width: 70%;
    height: auto;
  }
  .img-clock {
    width: 40%;
    height: auto;
  }
}
/* 반응형 설정 -끝- */

 /* 바탕 */
container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: auto;
} 
/* 바탕 -끝- */

/* 메인 박스 */
.main-box { 
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* 메인 박스 -끝- */

/*타이틀 이미지들 */
.title-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 15%;
  flex-wrap: wrap;
}
.img-10000hour {
  position: absolute;
}
.img-clock {
  position: absolute;
}
/* 타이틀 이미지 -끝- */

/* 폰트 */