body {
  margin: 0;
  padding: 0;
  background-color: #044a0c;
  color: white;
}

.page {
  max-width: 480px;
  margin: 0 auto;
  padding: 24px 16px 40px;
}

/* 시계+타이틀 */
.container {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-center {
  position: relative;
  width: 267px;
  height: 126px;
}

/* 시계 */
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  height: 126px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* 타이틀 */
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 267px;
  height: 53px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* 문구1 */
.quote-text {
  font-family: "tvn 즐거운이야기", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #f5df4d;
  text-align: center;
  line-height: 110%;
}

.quote-box {
  position: relative;
  background-color: #044a0c;
  padding: 12px 40px;
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* 따옴표 작업 */
.quote-mark {
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.quote-mark.left {
  margin-right: 12px;
  color: #f3ee21;
  opacity: 0.3;
}

.quote-mark.right {
  margin-left: 12px;
  color: #f3ee21;
  opacity: 0.3;
}

/* 따옴표 내부에 적을 거 여기에다 작업 */
.description-text {
  text-align: center;
  font-family: "G마켓 산스" sans-serif;
  font-size: 14px;
  line-height: 100%;
  color: white;
}

.description-text .line {
  display: block;
  margin: 6px 0;
  font-weight: 400;
  line-height: 120%;
}

.description-text .bold {
  font-weight: 700;
}

.last-content {
  margin-top: 40px;
}

.mobile-center {
  padding: 10px;
  color: white;
  font-family: "G마켓 산스" sans-serif;
  text-align: center;
  line-height: 140%;
  font-size: 18px;
}

.mobile-center p {
  margin: 8px 0;
}

/* 인풋박스 집어넣기 */
.input-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #babcbe;
  padding: 6px 16px;
  border-radius: 5px;
  font-weight: 700;
  font-family: "G마켓 산스" sans-serif;
  line-height: 100%;
}

/* 버튼 */

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

/* 데스크탑 반응웹페이지에서 내가 원하는 사이즈로 안바뀌는 것 수정필요 */
.center-btn {
  width: 241px;
  height: 68px;
  background-color: #ffe93f;
  color: #5b2386;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.click-icon {
  width: 43px;
  height: 48px;
}
.end-section {
  text-align: center;
  color: #ffffff;
  font-family: "G마켓 산스" sans-serif;
  padding: 40px 20px;
}

.end-top {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 14px;
}

.end-bold {
  font-weight: 700;
  color: #f5df4d;
}

.end-middle {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 40px;
}

.days-bold {
  font-size: 46px;
  font-weight: 700;
  color: #ffffff;
}

.end-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.go-btn,
.share-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
}

.go-btn {
  width: 186px;
  height: 40px;
  background-color: #ffe93f;
  color: #5b2386;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-btn {
  width: 92px;
  height: 40px;

  background-color: #ffffff;
  color: #5b2386;

  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .center-btn {
    width: 356px;
    height: 66px;
    font-size: 22px;
  }

  .click-icon {
    width: 64px;
    height: 72px;
  }

  .go-btn {
    width: 356px;
    height: 66px;
    font-size: 20px;
  }

  .share-btn {
    width: 191px;
    height: 66px;
    font-size: 20px;
  }
}
