.main-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  transition: all 1s;
  background-color: #05300a;
}

/* 1. header: logo */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  margin: 15% 0;
  position: relative;
  cursor: pointer;
  background-color: cadetblue;
}
.header-logo img {
  position: absolute;
  transition: all 0.8s;
}
.logo {
  /* width: 77%; */
  width: 267px;
  z-index: 1;
}
.logobg {
  /* width: 33%; */
  width: 125px;
}

/* - content: 여러개 같이 */
.famous-phrase-title,
.famous-phrase,
.input-box,
.click-box,
.result,
.go-box {
  margin-bottom: 20%;
  background-color: #052509;
}
/* : font */
.font-base {
  font-family: var(--font-base);
}
.font-white {
  color: var(--text-primary);
}
.font-bold {
  font-family: var(--font-bold);
}
.famous-phrase,
.input-box,
.result {
  font-weight: 300;
}
.input-box,
.result {
  letter-spacing: 1px;
}

/* 2. 명언 */
.famous-phrase-title {
  font-family: var(--font-quote);
  font-size: 22px;
  color: var(--text-quote);
  transition: all 1s;
  font-weight: bold;
}
.famous-phrase {
  width: 100%;
  text-align: center;
  line-height: 2rem;
  background: url("../images/quotes.png") no-repeat center;
  transition: all 1s;
}
.famous-phrase b {
  font-family: var(--font-medium);
  font-size: 15px;
}

/* 3. input: 작성 */
input[type="text"] {
  width: 160px;
  padding: 10px 0;
  color: var(--text-secondary);
  text-align: center;
  border-radius: 7px;
  border: transparent;
}
input[type="text"]:focus {
  outline: none;
}
@media (max-width: 767px) {
  input[type="text"] {
    width: 160px;
  }
}

/* 4. Click: 확인 버튼 */
.click-box {
  display: flex;
  justify-content: center;
  height: auto;
}
.click-box .btn {
  position: relative;
}
.icon-click {
  position: absolute;
}
@media (max-width: 767px) {
  .click-box .btn {
    width: 220px;
    padding: 15px 2rem;
    line-height: 18px;
    border-radius: 14px;
  }
  .icon-click {
    width: 43px;
    height: 48px;
    right: -45px;
    bottom: -10px;
  }
}

/* 5. Result: 결과 */
.result {
  line-height: 3rem;
}
.result strong {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 24px;
}

/* 6. Go: 훈련하러 가기 */
.go-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.go-box .btn-sharing {
  background-color: var(--text-primary);
}
@media (max-width: 767px) {
  .go-box .btn {
    padding: 10px 20px;
    border-radius: 30px;
  }
}

/* 반응형: 태블릿/데스크톱 버전 */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .main-container {
    max-width: 800px;
    padding: 50px;
  }

  /* 1. header: logo */
  .header-logo {
    height: 300px;
    margin: 20% auto;
  }
  .logo {
    width: 564px;
    height: 112px;
    top: 94px;
    left: 60px;
  }
  .logobg {
    width: 261px;
    height: 265px;
    top: 20px;
    left: 210px;
  }

  /* : font */
  .famous-phrase,
  .famous-phrase b,
  .input-box,
  input[type="text"],
  .click-box,
  .result,
  .btn {
    font-size: 24px;
    font-weight: 300;
  }

  /* 2. 명언 */
  .famous-phrase-title {
    font-size: 34px;
  }
  .famous-phrase {
    line-height: 3rem;
  }
  .famous-phrase b {
    font-size: 25px;
  }

  /* 3. input: 작성 */
  input[type="text"] {
    width: 230px;
  }

  /* 4. click icon */
  .icon-click {
    width: 64px;
    height: 72px;
    right: -65px;
    bottom: -20px;
  }

  /* 5. Result: 결과 */
  .result {
    line-height: 5rem;
  }
  .result strong {
    font-size: 72px;
  }

  /* buutton */
  .btn {
    padding: 0.5rem 2.5rem 0.2rem 2.5rem;
    line-height: 50px;
    border-radius: 30px;
  }

  /* 버튼들 사이 간격 */
  .go-box {
    gap: 20px;
  }
}
